@charset "utf-8";
.situ {
    text-align: center;
    font-size: 17px;
    font-family: source-sans-pro;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-color: lightsteelblue;
    border-radius: 15px;
}